<query-editor-row query-ctrl="ctrl" has-text-edit-mode="true">

  <!-- Raw editor -->
  <div class="gf-form" ng-if="ctrl.target.rawQuery">
    <input type="text" class="gf-form-input"
      ng-model="ctrl.target.query"
      spellcheck="false"
      ng-blur="ctrl.onChangeInternal()">
    </input>
  </div>

  <!-- Crate SQL query editor -->
  <div ng-if="!ctrl.target.rawQuery">

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">FROM</label>
        <metric-segment segment="ctrl.tableSegment"
          get-options="ctrl.getTables()"
          on-change="ctrl.tableChanged()">
        </metric-segment>
      </div>

      <div class="gf-form">
        <label class="gf-form-label query-keyword">WHERE</label>
      </div>
      <div class="gf-form" ng-repeat="segment in ctrl.whereSegments">
        <metric-segment segment="segment"
          get-options="ctrl.getColumnsOrValues(segment, $index)"
          on-change="ctrl.whereSegmentUpdated(segment, $index)">
        </metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">
          <span>SELECT</span>
        </label>
      </div>
      <div class="gf-form" ng-repeat="segment in ctrl.selectColumnSegments">
        <metric-segment segment="segment"
          get-options="ctrl.getColumns()"
          on-change="ctrl.columnSegmentChanged(segment, $index)">
        </metric-segment>
      </div>

      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">ORDER BY</label>
        <metric-segment segment="ctrl.orderBySegment"
          get-options="ctrl.getOrderByColumns()"
          on-change="ctrl.orderByChanged()">
        </metric-segment>
      </div>
      <div class="gf-form">
        <!-- ASC/DESC -->
        <metric-segment segment="ctrl.orderTypeSegment"
          get-options="ctrl.getOrderTypes()"
          on-change="ctrl.orderByChanged()">
        </metric-segment>
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>
  </div>

</query-editor-row>